# Flask Configuration
SECRET_KEY=your-secret-key-here-change-in-production

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB=pzw

# Email Configuration (Flask-Mail)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465
MAIL_USE_SSL=True
MAIL_USE_TLS=False
MAIL_TIMEOUT=10
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password-here
MAIL_DEFAULT_SENDER=noreply@unizd-oglasnik.hr

ADMIN_USERNAME=usernamezaadmina
ADMIN_PASSWORD_HASH=pbkdf2:sha256:600000$w2jsRQA9hkJ8edDX$3c67e905fae6b28c4a30337972425b57c8344a31c5f5bb2b03c603852aea488b
ADMIN_EMAIL=admin@unizd-oglasnik.hr